<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="onoff">

	<!-- *********************************List를 출력하기 위한 resultMap 작업****************************************** -->
	<resultMap type="com.t.s.model.dto.FreeBoardAnsDto" id="FreeBoardAnsMap">
		<result property="boardansno" column="BOARDANSNO" />
		<result property="boardno" column="BOARDNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="boardanscontent" column="BOARDANSCONTENT" />
		<result property="boardansregdate" column="BOARDANSREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.FreeBoardDto" id="FreeBoardMap">
		<result property="boardno" column="BOARDNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="boardtitle" column="BOARDTITLE" />
		<result property="boardcontent" column="BOARDCONTENT" />
		<result property="boardregdate" column="BOARDREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.GroupDto" id="GroupMap">
		<result property="groupno" column="GROUPNO" />
		<result property="grouptitle" column="GROUPTITLE" />
		<result property="groupcontent" column="GROUPCONTENT" />
		<result property="groupregdate" column="GROUPREGDATE" />
		<result property="groupimg" column="GROUPIMG" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.GroupUserDto" id="GroupUserMap">
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="groupusergrade" column="GROUPUSERGRADE" />
		<result property="groupuserregdate" column="GROUPUSERREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.ImgBoardAnsDto" id="ImgBoardAnsMap">
		<result property="imgansno" column="IMGANSNO" />
		<result property="imgboardno" column="IMGBOARDNO" />
		<result property="moimno" column="MOIMNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="imganscontent" column="IMGANSCONTENT" />
		<result property="imgansregdate" column="IMGANSREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.ImgBoardDto" id="ImgBoardMap">
		<result property="imgboardno" column="IMGBOARDNO" />
		<result property="moimno" column="MOIMNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="imgboardtitle" column="IMGBOARDTITLE" />
		<result property="imgboardcontent" column="IMGBOARDCONTENT" />
		<result property="imgboardregdate" column="IMGBOARDREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.MoimAnsDto" id="MoimAnsMap">
		<result property="moimansno" column="MOIMANSNO" />
		<result property="moimno" column="MOIMNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="moimanscontent" column="MOIMANSCONTENT" />
		<result property="moimansregdate" column="MOIMANSREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.MoimDto" id="MoimMap">
		<result property="moimno" column="MOIMNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="moimtitle" column="MOIMTITLE" />
		<result property="moimcontent" column="MOIMCONTENT" />
		<result property="moimrecruit" column="MOIMRECRUIT" />
		<result property="moimaddr" column="MOIMADDR" />
		<result property="moimregdate" column="MOIMREGDATE" />
		<result property="moimenddate" column="MOIMENDDATE" />
		<result property="moimdate" column="MOIMDATE" />
		<result property="lat" column="LAT" />
		<result property="lng" column="LNG" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.MoimUserDto" id="MoimUserMap">
		<result property="moimno" column="MOIMNO" />
		<result property="userid" column="USERID" />
		<result property="groupno" column="GROUPNO" />
		<result property="moimq1" column="MOIMQ1" />
		<result property="moimq2" column="MOIMQ2" />
		<result property="moimq3" column="MOIMQ3" />
		<result property="moimq4" column="MOIMQ4" />
		<result property="moimq5" column="MOIMQ5" />
		<result property="moimq6" column="MOIMQ6" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.UserDto" id="UserMap">
		<result property="userid" column="USERID" />
		<result property="userpw" column="USERPW" />
		<result property="usergrade" column="USERGRADE" />
		<result property="username" column="USERNAME" />
		<result property="userbirth" column="USERBIRTH" />
		<result property="useremail" column="USEREMAIL" />
		<result property="useraddr" column="USERADDR" />
		<result property="usergender" column="USERGENDER" />
		<result property="userphone" column="USERPHONE" />
		<result property="userregdate" column="USERREGDATE" />
	</resultMap>
	
	<resultMap type="com.t.s.model.dto.SessionIds" id="SessionIds">
      <result property="sessionid" column="SESSIONID"/>
      <result property="userid" column="USERID"/>
   </resultMap>
	<!-- ****************************************************************************************************** -->
	
	
	
	<!-- *********************************강한승****************************************** -->
	
	<!-- ******************************************************************************* -->
	
	
	
	
	<!-- *********************************남윤아****************************************** -->
	<select id="selGroupnoGroupuser" parameterType="GroupUserDto" resultMap="GroupUserMap">
		SELECT USERID, GROUPUSERGRADE, GROUPUSERREGDATE
		FROM GROUPUSER
		WHERE GROUPNO = #{groupno} AND USERID = #{userid}
	</select>
	
	<insert id="insertSessionIds" parameterType="SessionIds">
      INSERT INTO SESSIONIDS
      VALUES(#{sessionid}, #{userid})
   </insert>
   
   <delete id="deleteSessionIds" parameterType="String">
      DELETE 
      FROM SESSIONIDS
      WHERE SESSIONID = #{value}
   </delete>
   
   <select id="selectSession" parameterType="String" resultType="SessionIds">
      SELECT * 
      FROM SESSIONIDS
      WHERE SESSIONID = #{sessionid}   
   </select>
	
	
	<!-- ******************************************************************************* -->
	
	
	
	
	<!-- *********************************문지희****************************************** -->
	<insert id="survey" parameterType="MoimUserDto">
		INSERT INTO MOIMUSER
		VALUES(#{moimno}, #{userid}, #{groupno}, #{moimq1}, #{moimq2}, #{moimq3}, #{moimq4}, #{moimq5}, #{moimq6})
	</insert>
	<!-- D3 -->
	<select id="avgQ1" parameterType="MoimuserDto" resultType="double">
		SELECT AVG(MOIMQ1)
		FROM MOIMUSER
		WHERE MOIMNO = #{moimno}
	</select>
	<select id="avgQ2" parameterType="MoimuserDto" resultType="double">
		SELECT AVG(MOIMQ2)
		FROM MOIMUSER
		WHERE MOIMNO = #{moimno}	
	</select>
	<select id="avgQ3" parameterType="MoimuserDto" resultType="double">
		SELECT AVG(MOIMQ3)
		FROM MOIMUSER
		WHERE MOIMNO = #{moimno}	
	</select>
	<select id="avgQ4" parameterType="MoimuserDto" resultType="double">
		SELECT AVG(MOIMQ4)
		FROM MOIMUSER
		WHERE MOIMNO = #{moimno}	
	</select>
	<select id="avgQ5" parameterType="MoimuserDto" resultType="double">
		SELECT AVG(MOIMQ5)
		FROM MOIMUSER
		WHERE MOIMNO = #{moimno}	
	</select>
	<!-- ******************************************************************************* -->
	
	
	
	
	<!-- *********************************박정성****************************************** -->
	
	<select id="selectAllMoim" parameterType="MoimDto" resultMap="MoimMap">
	
	SELECT MOIMNO,MOIMTITLE,USERID,MOIMREGDATE FROM MOIM
		
	
	</select>
	
	
	<select id="selectOneMoim" parameterType="int" resultType="MoimDto">
	
	SELECT USERID,MOIMTITLE,MOIMCONTENT,MOIMRECRUIT,MOIMADDR,MOIMREGDATE,MOIMENDDATE,MOIMDATE,LAT,LNG FROM MOIM WHERE MOIMNO=#{moimno}
	
	</select>
	
	
	
	<insert id="insertMoim" parameterType="MoimDto">
		INSERT INTO MOIM VALUES(MOIMSEQ.NEXTVAL,#{userid},1,#{moimtitle},#{moimcontent},#{moimrecruit},#{moimaddr},#{lat},#{lng},SYSDATE,#{moimenddate},#{moimdate})
	</insert>
	

	
	<select id="selectPaging" parameterType="com.t.s.domain.Criteria" resultMap="MoimMap">
	
	select MOIMNO,MOIMTITLE,USERID,MOIMREGDATE
    from (
        select MOIMNO,MOIMTITLE,USERID,MOIMREGDATE,
            row_number() over(order by MOIMNO desc) as rNum
        from MOIM
        ) mb
    where rNum between #{rowStart} and #{rowEnd}
        order by MOIMNO desc
	
	</select>
	
	<select id="listCount" resultType="int">
	
	select count(MOIMNO)
		from MOIM
			where MOIMNO>0
	
	</select>
	
	
	<!-- ******************************************************************************* -->
	
	
	
	
	<!-- *********************************조승빈****************************************** -->
	
		
	<select id="login" parameterType="map" resultType="UserDto">
		SELECT *
		FROM USERINFO
		WHERE USERID = #{userid} AND USERPW = #{userpw}
	</select>
	
	<select id="idchk" parameterType="String" resultMap="UserMap">
		SELECT *
		FROM USERINFO
		WHERE USERID = #{userid}
	</select>
	
	<insert id="regist" parameterType="UserDto">
		INSERT INTO USERINFO
		VALUES(#{userid},#{userpw},'NORMAL',#{username},#{userbirth},#{useremail},#{useraddr},#{usergender},#{userphone},SYSDATE)
	</insert>
	
	<select id="searchpassword" parameterType="String" resultType="String">
		SELECT USERPW
		FROM USERINFO
		WHERE USERID = #{userid}
	</select>
	
	<select id="myinfo" parameterType="String" resultMap="UserMap">
		SELECT *
		FROM USERINFO
		WHERE USERID = #{userid}
	</select>
	
	<delete id="dropuser" parameterType="String">
		DELETE 
		FROM USERINFO
		WHERE USERID = #{userid}
	</delete>
	
	<update id="updateuser" parameterType="UserDto">
		UPDATE USERINFO
		SET USERPW=#{userpw}, USERNAME=#{username}, USERBIRTH=#{userbirth}, USEREMAIL=#{useremail}, USERADDR=#{useraddr}, USERGENDER=#{usergender}, USERPHONE=#{userphone}
		WHERE USERID=#{userid} 
	</update>
	
	
	
	<!-- ******************************************************************************* -->
	
	
	
	
	<!-- *********************************최세왕****************************************** -->
	
	<!-- ******************************************************************************* -->


</mapper>

